img.lightbox-thumb{
  padding: 10px;
  border: 2px solid #E2E2E2;
  margin: 2px;
}

div#lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  /* Translucent background (with help from http://rland.me.uk/cross-browser-alpha-transparent-background-10-2011/) */
  background:rgb(0,0,0);
  background: transparent\9; /* IE fix*/
  background:rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000); /* IE Fix */
  zoom: 1;
}
/* IE Fix for Background Translucency */
div#lightbox:nth-child(n) {
    filter: none;
}

div#lightbox.hide{
  display: none;
}

div#lightbox div#lightbox-content{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #E8E8E8;
  padding: 10px;
  border-radius: 10px;
}

div#lightbox p#lightbox-title{
  text-align: center;
  color: #484848;
  font-size: 18px;
  font-family: 'Arial';
  margin-top: 0px;
  margin-bottom: 0px;
}

div#lightbox img#lightbox-photo{
}
