img.lightbox-thumb{
  padding: 10px;
  border: 2px solid #E2E2E2;
  margin: 2px;
  cursor: pointer;
}

div#lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  /* Translucent background (with help from http://rland.me.uk/cross-browser-alpha-transparent-background-10-2011/) */
  background:rgb(0,0,0);
  background: transparent\9; /* IE fix*/
  background:rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000); /* IE Fix */
  zoom: 1;
}
/* IE Fix for Background Translucency */
div#lightbox:nth-child(n) {
    filter: none;
}

.hide{
  display: none !important;
}

div#lightbox div#lightbox-content{
  position: absolute;
  top: 50%;
  left: 50%;
  height: initial;
  width: initial;
  display: table;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

div#lightbox div#lightbox-content div#lightbox-img-wrapper{
  display:table;
}

div#lightbox div#lightbox-content p#lightbox-title{
  text-align: center;
  color: #484848;
  font-size: 18px;
  font-family: 'Arial';
  margin-top: 0px;
  margin-bottom: 0px;
  display: table-caption;
  caption-side: bottom;
}

div#lightbox div#lightbox-content img#lightbox-photo{
  display: inline;
}

div#lightbox div#lightbox-content div#lightbox-left-arrow{
  display: block;
  background-image: url('img/arrow-left.png');
  width: 33px;
  height: 43px;
  position: absolute;
  left: 10px;
  cursor: pointer;
}

div#lightbox div#lightbox-content div#lightbox-right-arrow{
  background-image: url('img/arrow-right.png');
  width: 33px;
  height: 43px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

div#lightbox div#lightbox-content div#lightbox-spinner{
  background: url('img/ajax-loader.gif');
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 125px;
  top: 125px;
}

/** Before Image Loaded Styles **/
div#lightbox div#lightbox-content.preload{
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
}
div#lightbox div#lightbox-content.preload img#lightbox-photo{
  display: none;
}
div#lightbox div#lightbox-content.preload p#lightbox-title{
  display: none;
}
div#lightbox div#lightbox-content.preload div#lightbox-left-arrow{
  display: none;
}
div#lightbox div#lightbox-content.preload div#lightbox-right-arrow{
  display: none;
}
div#lightbox div#lightbox-content.preload div#lightbox-spinner{
  display: block;
}
