body {
  margin: 40px auto;
  max-width: 60%;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  text-align:center;
}
h1, h2, h3 {
  line-height: 1.2
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;}

.title {
font-family: sans-serif; color: #1D1D1D;
}
